* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Young-Serif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}

html {
    --Light: 400;
    --Medium: 600:
    --Bold: 700;
    padding-block: 2rem;
}

.card {
    display: grid;
    gap: 1em;
    margin: 0 auto;
    padding: 2rem;
    width: 35%;
    min-width: 320px;
    background-color: white;
    border-radius: 6px;
}

@media (max-width: 575px) {
    :root {
        font-size: .75rem;
    }
    html {padding-block: 0;}
    .card { width: 100%;}
    .img--wrapper {margin: -2rem -2rem 0  -2rem;}
}

@media (max-width: 1200px) {
    html {
        font-size: .85rem;
    }
}

.wrapper {
    padding-bottom: 1rem;
}

.wrapper--narrow {
    margin-inline: 1rem;
    padding: .5rem;
}

.wrapper--narrow h4 {
    color: hsl(332, 51%, 32%);
}

.card h1 {
    font-family: 'Young-Serif', serif;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: .5em;
}

.card p, li {
    font-family: 'Outfit', serif;
    font-weight: 400;
}

h2 {
    font-family: 'Young-Serif', serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-bottom: .75rem;
}

h4 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

body {
    background-color: #f8e5d2;
}


img {
    width: 100%;
    border-radius: 6px;
}

ol  {
    padding-left: 1.5em;
}

ul{
    list-style: disc;
    padding-left: 1.5em;
}

li {
    padding-inline: .5rem;
}

li, p {
    font-size: 1rem;
    padding-block: .5rem;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

tr td {
    font-family: 'Outfit', sans-serif;
    border-bottom: 1px solid hsl(30, 54%, 90%);
}

tr td:last-child {
    color: hsl(14, 45%, 36%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}